# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
APP_URL="http://localhost:${APP_PORT:-3030}"
APP_PORT=3030
APP_ENV=local
JWT_SECRET_KEY="rahasia-negara"

# POSTGRES CONFIG
POSTGRES_USER="username"
POSTGRES_PASSWORD="mypassword"
POSTGRES_DB="mydb"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
OUTER_POSTGRES_PORT=5433

# REDIS CONFIG
OUTER_REDIS_PORT=6378 
REDIS_HOST=redis_broker
REDIS_PORT=6379
REDIS_ADDR="redis://${REDIS_HOST}:${REDIS_PORT}"

# MONITORING STACK PORT CONFIG (EXTERNAL PORTS)
OUTER_PROMETHEUS_PORT=9090
OUTER_GRAFANA_PORT=3001
OUTER_ALERTMANAGER_PORT=9093
OUTER_NODE_EXPORTER_PORT=9100
OUTER_CADVISOR_PORT=8081

# MONITORING ENVIRONMENT
GF_SECURITY_ADMIN_PASSWORD=adminmonitoring2026